body {
    background-color: #1B1B25 !important;
    /* background-image: linear-gradient(to bottom, #0d6e6a, #000000); */
    font-family: Arial, sans-serif !important;
    /* padding: 20px 0 20px 0; */


    button:focus {
        outline: none;
        box-shadow: none !important;
    }

    button:hover {
        color: #1B1B25 !important;
    }

    h3,
    h6,
    p {
        color: whitesmoke;

    }

    h1 {
        font-weight: bold;
    }

    ul {
        text-align: justify;
    }

    .header-container {
        background-color: white;

        header {
            background-color: white;

            .main-header {
                display: flex;
                align-items: center;

                .profile-img {
                    width: 40%;
                    opacity: 0;
                    transform: translateY(-50px);
                    transition: opacity 0.5s, transform 0.5s;
                }

                h1 {
                    opacity: 0;
                    transform: translateY(50px);
                    transition: opacity 0.5s, transform 0.5s;

                }
            }

            .main-header.loaded .profile-img {
                opacity: 1;
                transform: translateY(0);
            }

            .main-header.loaded h1 {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }


    .main-wrapper {

        .main-background {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            align-content: stretch;
            flex-wrap: wrap;
            text-align: center;
            flex-direction: column;

            p {
                text-align: justify;
                padding: 0 90px 0 90px;

            }

        }


        .accordion-container {
            gap: 20px;
            display: grid;
            margin-bottom: 10%;


            .card-wrapper {
                background-color: gray;
                border: none !important;

                .header {
                    background-color: transparent;

                    .open-accordion {
                        color: whitesmoke;
                        width: 100%;
                        height: 100%;
                        font-weight: bold;
                        text-align: justify;
                    }

                    .arrow {
                        transform: rotate(180deg);
                    }
                }

                .body-wrapper {
                    background-color: whitesmoke;

                    p {
                        color: black !important;
                        margin-bottom: unset;
                    }

                    .actions {
                        margin-top: 20px;
                    }
                }
            }
        }

        .grid-container {
            display: grid;
            /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 10px;
            margin-bottom: 7%;
            align-items: center;
            justify-items: center;
            padding: 0 90px 0 90px;


            .item {
                overflow: hidden;

                p{
                    text-align: justify;
                    font-size: smaller;
                }

                img {
                    width: 80%;
                    height: auto;
                }
            }

        }



        footer {
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            p {
                color: whitesmoke !important;
                margin-bottom: unset;
                font-size: small;
            }
        }

    }


}

@media screen and (max-width: 991px) {
    /* .main-background {
        background-size: contain !important; 
        background-position: top;
    } */
}