body {
    background-color: #1B1B25 !important;
    /* background-image: linear-gradient(to bottom, #0d6e6a, #000000); */
    font-family: Arial, sans-serif !important;
    padding: 20px 0 20px 0;


    h1,
    h4,
    p {
        color: whitesmoke;

    }

    h1 {
        font-weight: bold;
    }

    ul {
        text-align: justify;
    }

    .wrapper {

        .main-background {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            align-content: stretch;
            flex-wrap: wrap;
            text-align: center;
            flex-direction: column;

            p {
                text-align: justify;
                padding: 0 90px 0 90px;

            }


            .profile-img {
                width: 40%;
                border: 2px solid black;
                border-radius: 64%;

            }

        }


        .accordion-container {

            gap: 20px;
            display: grid;
            margin-bottom: 9%;


            .card-wrapper {
                background-color: gray;
                border: none !important;

                .header {
                    background-color: transparent;

                    .open-accordion {
                        color: whitesmoke;
                    }

                    .arrow {
                        transform: rotate(180deg);
                    }
                }

                .body-wrapper {
                    background-color: whitesmoke;

                    p {
                        color: black !important;
                        margin-bottom: unset;
                    }

                    .actions {
                        margin-top: 20px;
                    }
                }
            }
        }

        footer {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            p {
                color: whitesmoke !important;
                margin-bottom: unset;
                font-size: small;
            }
        }

    }


}

@media screen and (max-width: 991px) {
    /* .main-background {
        background-size: contain !important; 
        background-position: top;
    } */
}